*{
   box-sizing: border-box;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.h1{
   color: red;
}
.first-text{
   color: #fff;
   background-color: blue;
   width: 100px;
   margin: 0px 0px 100px 0px;
}
.text-red{
   color: red;
}
.h2{
   background-color: green;
   color: #fff;
}
.next{
   
}
.skills{
   background-color: green;
   padding: 50px
}
.create{
  padding: 0px 0px 0px 110px;
}
.list li{
   border: 1px solid black;
   font-size: 20px;
}
input,
button{
   box-shadow: 3px 3px 3px green;
}
